.dialogBox{
    -fx-pref-height:300px;
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-size:1px;
    -fx-border-color: black;
    -fx-background-color:rgba(120,120,120,0.4);
}

.nameField{
    -fx-pref-height:50px;
    -fx-pref-width:300px;
    -fx-max-width:300px;
    -fx-border-size:1px;
    -fx-border-color: black;
}

.name{
    -fx-font-size:24px;
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.textField{
    -fx-pref-height:210px;
    -fx-border-size:1px;
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-color: black;
}

.text{
    -fx-font-size:20px;
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.narrationField{
    -fx-max-height:200px;
    -fx-pref-height:200px;
    -fx-max-width:600px;
    -fx-pref-width:600px;
    -fx-border-size:1px;
    -fx-border-color: black;
    -fx-background-color:rgba(120,120,120,0.4);
}

.narration{
    -fx-font-size: 20px;
    -fx-wrap-text: true;
}

.options{
    -fx-max-height:500px;
    -fx-max-width: 500px;
}

.options Button{
    -fx-pref-width:300px;
    -fx-pref-height:40px;
    -fx-font-size:20px;
    -fx-text-fill: white;
}