VBox Button{
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-background-image: url('../images/button.png');
    -fx-background-size: cover;
    -fx-background-repeat: stretch;
}